:host {
  width: 100%;
  max-width: var(--form-max);
  border: 1px solid green;
  border-radius: 0.5rem;
  box-shadow: 4px 5px 11px 3px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 4px 5px 11px 3px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 4px 5px 11px 3px rgba(0, 0, 0, 0.29);

  label {
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    background-color: white;

    input {
      border-radius: 0.5rem;
      width: 100%;
      padding: 0.25rem 0.5rem;
      padding: 0.5rem 1rem;
      outline: none;
    }

    i {
      display: block;
      padding: 0.25rem;
      padding-right: 0.5rem;
      cursor: pointer;
    }
  }
}
