<button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  aria-label="Example icon-button with a menu"
>
  <i class="las la-bars"></i>
</button>

<!-- Hidden -->
<mat-menu #menu="matMenu" yPosition="above" xPosition="before">
  <button mat-menu-item>
    <a class="w-full" routerLink="/about">Home</a>
  </button>
  <button mat-menu-item>
    <a class="w-full" routerLink="/checkbox">Checkbox</a>
  </button>
  <button mat-menu-item>
    <a class="w-full" routerLink="/dynamic-form">Dynamic Form</a>
  </button>
  <button mat-menu-item (click)="logout()">
    <span>Logout</span>
  </button>
</mat-menu>
