:host {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0.25rem;
  list-style-type: none;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--primary);

  .nav-items {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    color: white;
  }

  .spacer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }
}
