<div class="cv-section">
  <h2 class="section-title"><strong>Hello!</strong></h2>

  <span class="section-content">
    My name is Kostas and I am an experienced front-end web developer proficient
    in JavaScript and TypeScript, with expertise in Angular. Skilled in using
    various libraries such as NGRX Store and RxJS. I am familiar with unit
    testing and architectural concepts and excel in translating designs to
    interfaces, implementing robust authentication and authorization methods,
    CRUD operations, pagination, filtering/sorting, guards, and error handling.
    I can collaborate effectively with team members, clients and stakeholders to
    ensure timely delivery of high-quality software.
  </span>
</div>

<div class="cv-section">
  <span class="section-title">My Technical Skills Include</span>

  <div class="section-content">
    <strong>Languages:</strong>
    <ul>
      <li>Javascript</li>
      <li>Typescript</li>
      <li>HTML</li>
      <li>CSS (SCSS)</li>
    </ul>
    <hr />

    <strong>Frameworks:</strong>
    <ul>
      <li>Angular</li>
    </ul>
    <hr />

    <strong>Libraries:</strong>
    <ul>
      <li>NGRX Store</li>
      <li>NGRX Effects</li>
      <li>NGRX Component Store</li>
      <li>NGRX DevTools</li>
      <li>RxJS</li>
      <li>TailwindCSS</li>
      <li>Angular Material</li>
    </ul>
    <hr />

    <strong>Familiar With:</strong>
    <ul>
      <li>Karma/Jasmine</li>
      <li>React</li>
    </ul>
    <hr />

    <strong>Misc. Technologies:</strong>
    <ul>
      <li>Git</li>
      <li>Figma</li>
    </ul>
  </div>
</div>

<div class="cv-section">
  <span class="section-title">As for my Practical Expertise</span>

  <div class="section-content">
    <strong>Angular:</strong>
    <span>
      I am experienced in utilizing Angular's component-based architecture and
      routing in addition to integrating essential libraries and tools such as
      RxJS for reactive programming, NgRx for state management, and Angular
      Material for polished user interfaces.
    </span>
    <hr />

    <strong>General Programming Practices:</strong>
    <span>
      I've familiarized myself with declarative and imperative programming, DRY,
      object oriented and functional programming as well as adhering to the
      SOLID principles as much as possible to implement scalable and
      maintainable code.
    </span>
  </div>
</div>

<div class="cv-section">
  <span class="section-title">My Experience</span>

  <div class="section-content">
    <strong>ONEX S.A - Hellenic Defence Systems S.A</strong>
    <em>CNC Programmer - Operator | 2013 - 2022</em>
    <span>
      Assumed a multifaceted role that encompassed a wide range of
      responsibilities in the CNC machining process. As a programmer, I was
      responsible for creating and optimizing CNC programs, ensuring precision
      and efficiency in machining operations. In addition to programming, I also
      excelled in machine maintenance, proactively identifying and addressing
      mechanical issues to minimize downtime and optimize performance.
      Preventive maintenance protocols helped ensure the continued reliability
      of CNC equipment, reducing costly disruptions to production schedules.
    </span>
    <hr />

    <strong>Mind Alliance Systems</strong>
    <em>Front-End Web Developer 2022 - 2023</em>
    <span>
      Transformed design concepts into seamless and user-friendly web
      applications. Working closely with talented designers, I translated their
      creative visions into responsive and visually appealing front-end
      interfaces. Collaborated in a team of developers to ensure a seamless
      integration of front-end and back-end functionalities to deliver robust
      and feature-rich web applications. Actively engaged with my team leader
      and project managers, providing regular progress updates, identifying
      potential bottlenecks, and contributing to planning and execution
      strategies.
    </span>
  </div>
</div>

<div class="cv-section">
  <span class="section-title">My Education</span>

  <div class="section-content">
    <strong>CNC Programming and Operation</strong>
    <em>
      CNC Programming & Machining Institute, Ymmitos, Greece | 2013 - 2015
    </em>
    <span>
      Assumed a multifaceted role that encompassed a wide range of
      responsibilities in the CNC machining process. As a programmer, I was
      responsible for creating and optimizing CNC programs, ensuring precision
      and efficiency in machining operations. In addition to programming, I also
      excelled in machine maintenance, proactively identifying and addressing
      mechanical issues to minimize downtime and optimize performance.
      Preventive maintenance protocols helped ensure the continued reliability
      of CNC equipment, reducing costly disruptions to production schedules.
    </span>
    <hr />

    <strong>Web Development</strong>
    <em>Self Taught, Various Online Sources & Resources</em>
    <span>
      Completed online courses in HTML, CSS, JavaScript and responsive web
      design. Continuously expanding and honing front-end development skills
      through self study, practice, peer critic and online communities.
    </span>
  </div>
</div>

<div class="info">
  <ul>
    <li class="flex items-center gap-1">
      <i class="lab la-github"></i>
      <a href="https://github.com/kostas-mav" target="_blank">GitHub</a>
    </li>

    <li class="flex items-center gap-1">
      <i class="lab la-linkedin"></i>
      <a href="https://www.linkedin.com/in/kostasmavr/" target="_blank">
        LinkedIn
      </a>
    </li>

    <li class="flex items-center gap-1">
      <i class="las la-at"></i>
      <a href="mailto:kostasmavrokou@gmail.com">Email</a>
    </li>
  </ul>
</div>
