<div class="toolbar">
  <form class="flex justify-between w-full">
    <li class="toolbar-item">
      <app-tooltip [message]="tooltipMessage"></app-tooltip>
    </li>

    <li class="toolbar-item justify-center">
      <strong>Doggos!</strong>
    </li>

    <li class="toolbar-item justify-end">
      <span class="text-font">Item limit per request:</span>
      <app-number-input
        [control]="limitControl"
        type="number"
        [min]="20"
        [max]="50"
      ></app-number-input>
    </li>
  </form>
</div>

<div
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="150"
  [scrollWindow]="false"
  (scrolled)="loadMore()"
  class="grid"
>
  <app-card
    *ngFor="let imgUrl of imgUrls$ | async"
    [imgUrl]="imgUrl"
  ></app-card>
</div>

<div class="footer">
  <button
    matTooltip="Or scroll to the end"
    class="load-more-button text-font dark:text-dark-font"
    (click)="loadMore()"
  >
    Load More
  </button>
</div>
