/* You can add global styles to this file, and also import other style files */
@import "/node_modules/@angular/material/prebuilt-themes/indigo-pink";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #005792;
  --secondary: #00bbf0;
  --tertiary: #fdb44b;
  --neutral: #c1c7cf;
  --warn: #f56565;
  --font: #00204a;

  --dark-primary: #27374d;
  --dark-secondary: #526d82;
  --dark-tertiary: #9db2bf;
  --dark-font: #93b1a6;

  --form-max: 700px;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  // font-family: "Alegreya";
  font-size: 1.1rem;
}

las {
  font-weight: 500;
}

.log-button {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  padding: 10px 1.5rem;
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;

  @apply dark:bg-dark-primary;
}
